# Server
SERVER_ADDR=0.0.0.0
SERVER_PORT=8080
SERVER_WRITE_TIMEOUT=15
SERVER_READ_TIMEOUT=15
SERVER_IDLE_TIMEOUT=150
SERVER_GRACEFUL_TIMEOUT=15

# Postgres
DB_PASS=postgres
DB_PORT=5436
DB_USER=postgres
DB_NAME=glasses_management_platform
DB_HOST=localhost

# pprof
PPROF_ADDR=
PPROF_PORT=

DB_PG_PROD=

# Redis
REDIS_HOST=
REDIS_PASSWORD=
REDIS_DB=

UPSTASH_URL=

MODE=development
SCHEMA=
AVIATION_STACK_API_KEY=
