package components

templ ButtonUpdateComponent(path, label string) {
	<button
		type="submit"
		hx-put={ path }
		class="w-full btn btn-xs btn-primary inline-flex items-center justify-center text-sm font-medium tracking-wide transition-colors duration-200 rounded-md hover:bg-neutral-900 focus:ring-2 focus:ring-offset-2 focus:ring-neutral-900 focus:shadow-outline focus:outline-hidden mr-2"
	>
		{ label } <ion-icon name="checkmark-outline"></ion-icon>
	</button>
}
