package components

templ ButtonReturnComponent(path templ.SafeURL) {
	<a
		href={ path }
		type="button"
		action="return"
		class="w-full btn btn-xs btn-error	inline-flex items-center justify-center text-sm font-medium tracking-wide transition-colors duration-200 rounded-md hover:bg-neutral-900 focus:ring-2 focus:ring-offset-2 focus:ring-neutral-900 focus:shadow-outline focus:outline-none mr-2"
	>
		<span>Cancel</span>
		<ion-icon name="close-outline"></ion-icon>
	</a>
}
