package components

templ ButtonEditComponent(path templ.SafeURL) {
	<a
		href={ path }
		class="btn btn-xs btn-secondary inline-flex items-center justify-center text-sm font-medium tracking-wide transition-colors duration-200 rounded-md hover:bg-neutral-900 focus:ring-2 focus:ring-offset-2 focus:ring-neutral-900 focus:shadow-outline focus:outline-hidden mr-2"
	>
		<span>Edit</span>
		<ion-icon name="create-outline"></ion-icon>
	</a>
}
